ClientTCP/src/META-INF/wsdl/localhost_8080/FoodReservationWS/FoodReservationWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.foodreservation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.foodreservation.com/" name="FoodReservationWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.foodreservation.com/" schemaLocation="http://localhost:8080/FoodReservationWS/FoodReservationWS?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="updateOrderStatus">
<part name="parameters" element="tns:updateOrderStatus"/>
</message>
<message name="updateOrderStatusResponse">
<part name="parameters" element="tns:updateOrderStatusResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="addTable">
<part name="parameters" element="tns:addTable"/>
</message>
<message name="addTableResponse">
<part name="parameters" element="tns:addTableResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="searchMenu">
<part name="parameters" element="tns:searchMenu"/>
</message>
<message name="searchMenuResponse">
<part name="parameters" element="tns:searchMenuResponse"/>
</message>
<message name="deleteMenuItem">
<part name="parameters" element="tns:deleteMenuItem"/>
</message>
<message name="deleteMenuItemResponse">
<part name="parameters" element="tns:deleteMenuItemResponse"/>
</message>
<message name="viewTables">
<part name="parameters" element="tns:viewTables"/>
</message>
<message name="viewTablesResponse">
<part name="parameters" element="tns:viewTablesResponse"/>
</message>
<message name="viewUsers">
<part name="parameters" element="tns:viewUsers"/>
</message>
<message name="viewUsersResponse">
<part name="parameters" element="tns:viewUsersResponse"/>
</message>
<message name="createOrderItem">
<part name="parameters" element="tns:createOrderItem"/>
</message>
<message name="createOrderItemResponse">
<part name="parameters" element="tns:createOrderItemResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="deleteTable">
<part name="parameters" element="tns:deleteTable"/>
</message>
<message name="deleteTableResponse">
<part name="parameters" element="tns:deleteTableResponse"/>
</message>
<message name="viewMenuItems">
<part name="parameters" element="tns:viewMenuItems"/>
</message>
<message name="viewMenuItemsResponse">
<part name="parameters" element="tns:viewMenuItemsResponse"/>
</message>
<message name="viewOrderItems">
<part name="parameters" element="tns:viewOrderItems"/>
</message>
<message name="viewOrderItemsResponse">
<part name="parameters" element="tns:viewOrderItemsResponse"/>
</message>
<message name="getUserRole">
<part name="parameters" element="tns:getUserRole"/>
</message>
<message name="getUserRoleResponse">
<part name="parameters" element="tns:getUserRoleResponse"/>
</message>
<message name="updateTable">
<part name="parameters" element="tns:updateTable"/>
</message>
<message name="updateTableResponse">
<part name="parameters" element="tns:updateTableResponse"/>
</message>
<message name="updateMenuItem">
<part name="parameters" element="tns:updateMenuItem"/>
</message>
<message name="updateMenuItemResponse">
<part name="parameters" element="tns:updateMenuItemResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="viewReservations">
<part name="parameters" element="tns:viewReservations"/>
</message>
<message name="viewReservationsResponse">
<part name="parameters" element="tns:viewReservationsResponse"/>
</message>
<message name="addMenuItem">
<part name="parameters" element="tns:addMenuItem"/>
</message>
<message name="addMenuItemResponse">
<part name="parameters" element="tns:addMenuItemResponse"/>
</message>
<portType name="FoodReservationWS">
<operation name="register">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
</operation>
<operation name="updateOrderStatus">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateOrderStatusRequest" message="tns:updateOrderStatus"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateOrderStatusResponse" message="tns:updateOrderStatusResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/cancelReservationResponse" message="tns:cancelReservationResponse"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/createReservationResponse" message="tns:createReservationResponse"/>
</operation>
<operation name="addTable">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/addTableRequest" message="tns:addTable"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/addTableResponse" message="tns:addTableResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="searchMenu">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/searchMenuRequest" message="tns:searchMenu"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/searchMenuResponse" message="tns:searchMenuResponse"/>
</operation>
<operation name="deleteMenuItem">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteMenuItemRequest" message="tns:deleteMenuItem"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteMenuItemResponse" message="tns:deleteMenuItemResponse"/>
</operation>
<operation name="viewTables">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewTablesRequest" message="tns:viewTables"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewTablesResponse" message="tns:viewTablesResponse"/>
</operation>
<operation name="viewUsers">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewUsersRequest" message="tns:viewUsers"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewUsersResponse" message="tns:viewUsersResponse"/>
</operation>
<operation name="createOrderItem">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/createOrderItemRequest" message="tns:createOrderItem"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/createOrderItemResponse" message="tns:createOrderItemResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="deleteTable">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteTableRequest" message="tns:deleteTable"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteTableResponse" message="tns:deleteTableResponse"/>
</operation>
<operation name="viewMenuItems">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewMenuItemsRequest" message="tns:viewMenuItems"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewMenuItemsResponse" message="tns:viewMenuItemsResponse"/>
</operation>
<operation name="viewOrderItems">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewOrderItemsRequest" message="tns:viewOrderItems"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewOrderItemsResponse" message="tns:viewOrderItemsResponse"/>
</operation>
<operation name="getUserRole">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/getUserRoleRequest" message="tns:getUserRole"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/getUserRoleResponse" message="tns:getUserRoleResponse"/>
</operation>
<operation name="updateTable">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateTableRequest" message="tns:updateTable"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateTableResponse" message="tns:updateTableResponse"/>
</operation>
<operation name="updateMenuItem">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateMenuItemRequest" message="tns:updateMenuItem"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/updateMenuItemResponse" message="tns:updateMenuItemResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="viewReservations">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewReservationsRequest" message="tns:viewReservations"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/viewReservationsResponse" message="tns:viewReservationsResponse"/>
</operation>
<operation name="addMenuItem">
<input wsam:Action="http://service.foodreservation.com/FoodReservationWS/addMenuItemRequest" message="tns:addMenuItem"/>
<output wsam:Action="http://service.foodreservation.com/FoodReservationWS/addMenuItemResponse" message="tns:addMenuItemResponse"/>
</operation>
</portType>
<binding name="FoodReservationWSPortBinding" type="tns:FoodReservationWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateOrderStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrderItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewMenuItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewOrderItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FoodReservationWS">
<port name="FoodReservationWSPort" binding="tns:FoodReservationWSPortBinding">
<soap:address location="http://localhost:8080/FoodReservationWS/FoodReservationWS"/>
</port>
</service>
</definitions>