ClientTCP/xml-resources/web-service-references/FoodReservationWS/wsdl/localhost_8080/FoodReservationWS/FoodReservationWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.foodreservation.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.foodreservation.com/">

<xs:element name="addMenuItem" type="tns:addMenuItem"/>

<xs:element name="addMenuItemResponse" type="tns:addMenuItemResponse"/>

<xs:element name="addTable" type="tns:addTable"/>

<xs:element name="addTableResponse" type="tns:addTableResponse"/>

<xs:element name="cancelReservation" type="tns:cancelReservation"/>

<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="createOrderItem" type="tns:createOrderItem"/>

<xs:element name="createOrderItemResponse" type="tns:createOrderItemResponse"/>

<xs:element name="createReservation" type="tns:createReservation"/>

<xs:element name="createReservationResponse" type="tns:createReservationResponse"/>

<xs:element name="deleteMenuItem" type="tns:deleteMenuItem"/>

<xs:element name="deleteMenuItemResponse" type="tns:deleteMenuItemResponse"/>

<xs:element name="deleteTable" type="tns:deleteTable"/>

<xs:element name="deleteTableResponse" type="tns:deleteTableResponse"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

<xs:element name="getUserRole" type="tns:getUserRole"/>

<xs:element name="getUserRoleResponse" type="tns:getUserRoleResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="searchMenu" type="tns:searchMenu"/>

<xs:element name="searchMenuResponse" type="tns:searchMenuResponse"/>

<xs:element name="updateMenuItem" type="tns:updateMenuItem"/>

<xs:element name="updateMenuItemResponse" type="tns:updateMenuItemResponse"/>

<xs:element name="updateOrderStatus" type="tns:updateOrderStatus"/>

<xs:element name="updateOrderStatusResponse" type="tns:updateOrderStatusResponse"/>

<xs:element name="updateTable" type="tns:updateTable"/>

<xs:element name="updateTableResponse" type="tns:updateTableResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:element name="viewAllReservations" type="tns:viewAllReservations"/>

<xs:element name="viewAllReservationsResponse" type="tns:viewAllReservationsResponse"/>

<xs:element name="viewMenuItems" type="tns:viewMenuItems"/>

<xs:element name="viewMenuItemsResponse" type="tns:viewMenuItemsResponse"/>

<xs:element name="viewOrderItems" type="tns:viewOrderItems"/>

<xs:element name="viewOrderItemsResponse" type="tns:viewOrderItemsResponse"/>

<xs:element name="viewReservations" type="tns:viewReservations"/>

<xs:element name="viewReservationsResponse" type="tns:viewReservationsResponse"/>

<xs:element name="viewTables" type="tns:viewTables"/>

<xs:element name="viewTablesResponse" type="tns:viewTablesResponse"/>

<xs:element name="viewUsers" type="tns:viewUsers"/>

<xs:element name="viewUsersResponse" type="tns:viewUsersResponse"/>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservations">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderStatus">
<xs:sequence>
<xs:element name="orderItemId" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateOrderStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewTables">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewTablesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTable">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderItem">
<xs:sequence>
<xs:element name="reservationId" type="xs:int"/>
<xs:element name="menuItemId" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="subtotal" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenu">
<xs:sequence>
<xs:element name="keyword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservation">
<xs:sequence>
<xs:element name="userId" type="xs:int"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="endTime" type="xs:string" minOccurs="0"/>
<xs:element name="guests" type="xs:int"/>
<xs:element name="notes" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewMenuItems">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewMenuItemsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuItem">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="available" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserRole">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserRoleResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTable">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuItem">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTable">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenuItem">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="available" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenuItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewOrderItems">
<xs:sequence>
<xs:element name="reservationId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewOrderItemsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>